body {
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

table {
    width: 55%;

}

td {
    width: 25%;
    
}

.results {
    border: 1px solid black;
    padding-left: 15%;
    padding-right: 15%;
    width: 25%;
    margin:auto;
    background-color: grey;
}